<div style="text-align: center;" class="well">
    <div class="text-right"><a id="scalePop" rel="popover" data-placement="left" title="Hint:"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></div>
    <label>Enter Scale</label><br>
    <div>
        <label>1:</label>
        <input id="txtScale" data-dojo-type="dijit/form/TextBox" type="text" style="width: 100px;" placeholder="20000">
    </div><br>
    <button id="btnScale" data-dojo-type="dijit/form/Button">Enter</button>
</div>