<div>
    <div id="gridMenu" class="results-right-menu text-right">
        <button id="printAll"
                data-dojo-type="dijit/form/Button"
                type="button" disabled="disabled">Print</button>
        <button id="exportAll"
                data-dojo-type="dijit/form/Button"
                type="button" disabled="disabled">Export CSV</button>
        <button id="clearAll"
                data-dojo-type="dijit/form/Button"
                type="button" disabled="disabled">Clear Results</button>
    </div>
    <div id="resultsDiv"></div>
</div>